<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ลำดับที่</th>
        <th>ชื่อ</th>
        <th>นามสกุล</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for s in services %}
      <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.icon }} </td>
        <td>{{ s.title }}</td>
        <td>{{ s.detail }}</td>
        <td>
          <a href="index" class="btn btn-warning btn-xs" data-toggle="modal" data-target="{{s.id}}">Edit</a>
          <a href="viewserver" class="btn btn-danger btn-xs" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">Delete</a>
        </td>
      </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="savedata" class="btn btn-primary">เพิ่มรายชื่อใหม่</a>